name: "test"

on:
  push:
    branches: "**"
    tags-ignore: ["**"]
  pull_request:
  release:
    types: [released]
  workflow_dispatch: 

permissions:
  actions: "write"
  contents: "write"
  id-token: "write"

jobs:
  call-build:
    uses: "./.github/workflows/test2.yml"
    secrets:
      publishing_env_vars: |
          ORG_GRADLE_PROJECT_sonatypeUsername="${{ secrets.ADVENTURE_SONATYPE_USERNAME }}"
          ORG_GRADLE_PROJECT_sonatypePassword="${{ secrets.ADVENTURE_SONATYPE_PASSWORD }}"
          ORG_GRADLE_PROJECT_kyoriSigningKey="${{ secrets.ADVENTURE_GPG_KEY }}"
          ORG_GRADLE_PROJECT_kyoriSigningPassword="${{ secrets.ADVENTURE_GPG_PASSWORD }}"
