name: test2

on:
  workflow_call:
    secrets:
      publishing_env_vars:
        description: extra env file for any environment to apply to publishing commands
        required: false

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "$PUBLISHING_ENV" > /tmp/publishing_env_vars
        env:
          PUBLISHING_ENV: ${{ secrets.publishing_env_vars }}
          
      - run: |
          publishing_env_vars="$(cat /tmp/publishing_env_vars)"
          regex='([a-zA-Z0-9_]+)="((([^"]*\\n)*[^"]*)|([^"]*))"'

          while [[ $publishing_env_vars =~ $regex ]]; do
            var_name="${BASH_REMATCH[1]}"
            var_value="${BASH_REMATCH[2]}"
            publishing_env_vars="${publishing_env_vars#*$var_name=\"$var_value\"}"
            export "$var_name=$var_value"
          done

          env
          env > test.env
      - uses: actions/upload-artifact@v4
        with:
          name: dum
          path: |
            test.env
